@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

::-webkit-scrollbar {
    width: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    color: #8b8b8b;
    margin: 0;
    padding: 0;
    display: flex;
}

h1, h2 {
    color: #a58fc4;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #282828;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 1000;
}

.sidebar:hover {
    width: 100px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.nav-icon {
    width: 40px;
    height: 40px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon img {
    width: 100%;
    height: auto;
}

.leftbar-main {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.noBarMain
{
    padding: 20px;
    width: 100%;
}

.sidebar:hover ~ main {
    margin-left: 100px;
}

#subTimerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#subTimer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
}

#apiForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.creator-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#subathonForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

subathonForm div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #785aa7;
    font-weight: bold;
}

input
{
    width: 75%;
    padding: 10px;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    background-color: #121212;
    color: #8b8b8b;
    text-align: center;
}

input[type="password"]
{
    width: 75%;
    padding: 10px;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    background-color: #121212;
    color: #8b8b8b;
    text-align: center;
}

button[type="submit"], .subButton {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #785aa7;
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover, .subButton {
    background-color: #8f74b6;
}

button[type="submit"]:active, .subButton {
    background-color: #614198;
}
